<div class='container'>
  <div class='headerz'>
    <div class='row'>
      <h2>Mean Bucket List</h2>
      <button class='btn btn-primary' ng-click='home()'>Home</button>
      <button class='btn btn-danger' ng-click='logout()'>Logout</button>
    </div>
  </div><!-- headerz -->

  <div class='row'>
    <h1>Welcome, {{userInSession.first_name}}! </h1>
  </div><!-- row -->

  <div class='bucketList'>
    <div class='row'>
      <p>Before I die I want to... </p>
      <div ng-if="bucketList">
        <div class='listItem' ng-repeat="item in bucketList">
          <p ng-init="itemId = item._id">
            <input ng-if="item.completed == 'true'" type='checkbox' checked disabled>
            <input ng-if="item.completed == 'false'"  type='checkbox' ng-change='markDone(itemId)' ng-model="item.checkbox">
            <span>{{item.title}} - </span>
            <span>{{item.description}} - </span>
            <span>{{item.created_at | date}}</span>
          </p>
        </div>
      </div>
    </div><!-- row -->
  </div><!-- bucketList-->

  <div class='bucketForm'>
    <div class='row'>
      <div ng-if='badErrors'>
        <p ng-repeat='error in badErrors' ng-bind="error"></p>
      </div>
      <form ng-submit='create()' novalidate>
        <label for='title'></label>
        <input type='text' ng-model='newBucket.title' id='title' placeholder='Title' required>
        <label for='description'></label>
        <input type='text' ng-model='newBucket.description' id='description' placeholder='Description' required>
        <label for='tagAUser'></label>
        <select ng-model='newBucket.taggedUser' id='tagAUser'>
          <option value="" disabled selected='selected'>Tag a Friend</option>
          <option ng-repeat='user in allUsers' value='{{user._id}}'>{{user.first_name}}</option>
        </select>
        <input type='submit' value='Add to List'>
      </form>
    </div><!-- row -->
  </div><!-- bucketform  -->

  <div class='otherUsers'>
    <div class='row'>
      <p>List of other users (Click to view profile)</p>
      <div ng-if='allUsers'>
        <p ng-repeat="user in allUsers"><a ng-href='#/show/{{user._id}}'>{{user.first_name}}</a></p>
      </div>
    </div><!-- row -->
  </div><!-- other Users -->
</div><!-- container -->
