<div class='container'>
  <div class='headerz'>
    <div class='row'>
      <h2>Bucket List</h2>
      <button class='btn btn-primary' ng-click='home()'>Home</button>
      <button class='btn btn-danger' ng-click='logout()'>Logout</button>
    </div>
  </div><!-- headerz -->

  <div class='row'>
    <h1>{{user.first_name}}'s Bucket List </h1>
  </div><!-- row -->

  <div class='bucketDone'>
    <div class='row'>
      <h4>Done</h4>
      <div ng-if="bucketList">
        <p ng-repeat="item in bucketList" ng-if="item.completed == 'true'">
          <input type='checkbox' checked disabled>
          <span>{{item.title}}</span> - <span>{{item.description}}</span> - <span>{{item.created_at | date}}</span></p>
      </div>
    </div>
  </div><!-- bucket Done -->

  <div class='bucketPending'>
    <div class='row'>
      <h4>Pending</h4>
      <div ng-if="bucketList">
        <p ng-repeat="p_item in bucketList" ng-if="p_item.completed == 'false'">
          <input ng-init="itemId = p_item._id" ng-if="userInSession._id == user._id"  type='checkbox' ng-change='markDone(itemId)' ng-model="item.checkbox">
          <span>{{p_item.title}}</span> - <span>{{p_item.description}}</span> - <span>{{p_item.created_at | date}}</span></p>
      </div>
    </div>
  </div><!-- bucket Pending -->
</div><!-- container -->
